<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= @title || "My default title" %></title>
    <meta name="description" content="Vote & Dance web jukebox">
    <meta name="copyright" content="Copyright (c) 2010 Leon Bogaert">
    <meta name="author" content="Leon Bogaert">

<%= stylesheet_link_tag 'global', 'style' %>
<%= javascript_include_tag :defaults, 'site', 'lowpro' %>
  </head>
  <body>
    <div class="stripe_black"></div>
    <div class="stripe_white"></div>

    <div id="wrap">
      <div id="nav">
        <%= render(:partial => 'layouts/nav')  %>
      </div>
      <div id="header"><h1>Stem &amp; Dans web jukebox!</h1></div>
      <div id="main">
        <div id="colleft">
          <%= yield %>
        </div>

        <%  if (@content_for_colright) %>
          <div id="colright"><%=yield(:colright)%></div>
        <% end %>
      </div>
      <div id="footer">
        <p>&copy; Vote &amp; Dance</p>
      </div>

    </div>
  </body>
</html>